#Ignore root files for local testing and buidling
*.log
.venv

# Ignore roots directories for local building
/.projvenv/
/.vscode/

# Ignore the __pycache__ directory
csvupload/__pycache__/*

# Ignore Static Files from manage.py collectstatic
staticfiles/*
