<!-- upload_file.html -->

<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Set the height to the full viewport height */
        }

        main {
            text-align: center; /* Optional: Center the content inside the main tag */
        }
        pre {
            margin-top: 10vw;
            text-align: left;
        }
    </style>
<main>
    <h2>CSV to JSONL
        <h3>Truncates to top 5 row</h3>
    </h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept=".csv">
        <br>
        <button type="submit">Upload</button>
    </form>
    <ul>
        <li><a href="{% url 'json_doc' %}">API Index and Documnets</a></li>
        <li><a href="{% url 'Most_Recent_5' %}">Most Recent Uploads</a></li>
    </ul>
</main>
    {% if json_string %}
    <pre>{{ json_string|safe }}</pre>
    {% endif %}
</body>
</html>